:root {
  --light-light: #c5e0f8;
  --light: #8d8e8f;
  --dark: #585a5c;
  --bg: white;
  --shadow: #c5e0f8;
  --border: #c5e0f8;
  --logo: blue;
  --title: #8d8e8f;
  --text: black;
  --icon: black;
  --counter-bg: red;
  --counter-text: white;
  --item-bg: white;
  --light-dark: #8d8e8f;
  --dark-light: #585a5c;
  --page-title: black;
}

[data-theme='dark'] {
  --light-light: #d3fff7;
  --light: #4dffc3;
  --dark: #36b29c;
  --bg: #0a0909;
  --dark-dark: #01362c;
  --shadow: #01362c;
  --border: #4dffc3;
  --logo: #4dffc3;
  --title: #36b29c;
  --text: #4dffc3;
  --icon: #4dffc3;
  --counter-bg: #36b29c;
  --counter-text: #01362c;
  --item-bg: black;
  --light-dark: #36b29c;
  --dark-light: #4dffc3;
  --page-title: #36b29c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus::placeholder {
  color: transparent !important;
}

body {
  font-family: Nunito, sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--light);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

.home {
  display: flex;
  width: 100%;

  .container {
    flex: 6;
    background-color: var(--bg);
  }
}

@font-face {
  font-family: Nunito;
  src: url('./fonts/Nunito-Regular.ttf');
}
