.container {
  background-color: var(--bg);
  height: 100vh;

  .top,
  .bottom {
    box-shadow: 5px 5px 10px var(--shadow);
    padding: 1rem;
    margin: 1rem;
  }

  .top {
    .title {
      color: var(--page-title);
    }
  }

  .bottom {
    display: flex;
    gap: 2rem;

    .left {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px dashed var(--border);

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .right {
      flex: 2;

      form {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto auto;

        .formInput {
          width: 90%;
          color: var(--dark-light);

          input {
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            color: var(--text);
            border-bottom: 1px solid var(--light-light);
            padding: 0.5rem 1rem;
            margin: 0.5rem 0;
            font-size: 1.3rem;

            &:focus {
              border-bottom: 1px solid skyblue;
              outline: none;
            }
          }

          .selectImage {
            font-size: 2.5rem;
            cursor: pointer;
          }
        }

        .send {
          background-color: white;
          color: blue;
          border: 1px dashed blue;
          border-radius: 5px;
          font-size: 1.2rem;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          margin: 1rem 0;
          width: 13rem;
          padding: 1rem 0.5rem;
          grid-column: 1/3;

          &:hover {
            background-color: blue;
            color: white;
            border: 1px solid blue;
            font-weight: bold;
          }
        }
      }
    }
  }
}

input[type='file'] {
  display: none;
}
